.Registration{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    border: 1px solid black;
    border-radius: 5px;
}
.inputs{
    display: flex;
    margin: 25px;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
input{ 
    width: 15vw;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 3px;
    background-color:black;
    color:#b3ea11;
}